<div class="title">
<h1>Band Tracker<h1>
</div>
<br>
  <div class="bands">
    <h3><a href="/bands">The Bands</a></h3><br>
  </div>
  <div class="venues">
    <h3><a href="/venues">The Venues</a></h3><br>
  </div>
