<html>
<head>
  <title>Band Tracker</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css">

  <link rel="stylesheet" href="/css/styles.css" type="text/css">

</head>
<body>
  <nav>
    <a href="/">Home</a>
    -
    <a href="/bands">Bands</a>
    -
    <a href="/venues">Venues</a>
  </nav>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
